.App {
  text-align: center;
}

.App-logo {
  height: 100px;
  width: 100px;
}

.App-header {
  height: 200px;
}


header {
  font-weight: bolder;
  font-size: 23px;
}

@media screen and (min-width: 500px) {
  header {
    font-size: 25px;
  }
}